<p>filter works!</p>
<div>
    <fieldset>
        <legend> Filter Product</legend>
    </fieldset>
    <div class="form-group">
        <input type="radio" [(ngModel)]="SelectedCategoryValue" value="All" name="choose" (change)="onCategoryChanged()">All [{All}]
        <input type="radio" [(ngModel)]="SelectedCategoryValue" value="Electronics" name="choose" (change)="onCategoryChanged()">Electronics [{Electronics}]
        <input type="radio" [(ngModel)]="SelectedCategoryValue" value="Shoes" name="choose" (change)="onCategoryChanged()">Shoes [{Shoes}]

    </div>
</div>
