<p>iterations works!</p>

<div class="cantainer">
    <h2>cars</h2>
    <div class="card-deck">

    <div class="card" *ngFor = "let car of cars">
        <div class="card-header" >
            <h3>  {{cars.carsname}}  </h3>

        </div>

        <div class="card-body text-center">
            <img style="width: 200 ; height: 100;" src="{{cars.Photo}}">
            class = img-thumbail
        </div>

        <div class="card-Footer text-center">
            <div>
                {{cars.Likes}}(Likes)
                <button (click) = "likes(cars)" class="btn btn-primary">likes 

                </button>

                <span>|</span>
                {{cars.DisLikes}}(DisLikes)

                <button (click)="DisLikes(cars)" class="btn btn-danger">DisLikes</button>
                </div>
           </div>
          </div>
       </div>

</div>