<table width="800" border="1" cellspacing="5" cellpadding="5" align="center">
  <tr class="rowStyle">
    <td colspan="2" >
      <h2>NareshIt|Hydrabad</h2>
    </td>


  </tr>
  <tr height="350">
    <td width="200">
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="contact">Contact</a></li>
      </ul>

    </td>
    <td width="600">
      <router-outlet></router-outlet>
    </td>

  </tr>
  <tr class="rowStyle">
    <td colspan="2">
      &copy; copyright 2019
    </td>

  </tr>




</table>