<p>changedemo works!</p>
<!-- <div class="cantainer">
    <h2> Shopping Cart</h2>
    <div class="form-group">
        <label>Select Category</label>
   
<div>
    <select class="form-control" [(ngModel)]="lstCategories" (change)="CategoryChanged()">
        <option ngFor="let Category of Categories">
            {{Category}}     </option>
  </select>
 </div>
</div>

 <div class="form-group">
    <label>Select a Product</label>
    <div>
        <select class="form-control" [(ngModel)]= "LstProducts" (change)="ProductChanged()">
            <option ngFor="let product of products">
                {{product}}
            </option>
        </select>
    </div>
</div>
<div class="form-group">
    <div class="card">
        <div class="card-header text-center">
            <h3>{{productName}}</h3>
        </div>
        <div class="card-body">
            <img class="img-thumbail" width="100" height="200" [src]="imgPreview">
        </div>
        <div class="card-footer text-center">
            <h3>{{Product|currency:'&#8377'}}</h3>
            <button class="btn btn-primary"(click)="AddToCart()"> AddToCart</button>
        </div>
     </div>
</div>

<div class="form-group">
    <h2>Shopping Cart</h2>
    <table class="table table-hover">
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Preview</th>
        </thead>
        <tbody>
            <tr ngFor="let item of CartItems">
                <td>{{item.Name}}</td>
                <td>{{item.Price}}</td>
                <td>
                    <img [src]="item.Preview" width="50" height="50">
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
